#store {
    background-color: white;
    width: 100dvw;

    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20%;
}

h4 {
    text-transform: uppercase;
    font-weight: 800;
    color: #28660D;
    font-size: 1.75em;
    padding-top: 3%;
}

h6 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.3em;
}

#merch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.merchitem {
    width: 30%;
}

.merchitem img {
    width: 100%;
    box-shadow: 10px 10px 0px rgb(144, 154, 232);
}

.merchitem img:hover {
    box-shadow: 10px 10px 0px #182AB5;
}



@media screen and (max-width: 600px) {
    #store {
        padding-left: 2%;
        padding-right: 2%;
    }
    #merch {
        flex-direction: column;
    }
    .merchitem {
        width: 100%;
        margin: auto;
        padding-bottom: 10%;
    }
    h4 {
        text-align: center;
    }
    h6 {
        text-align: center;
    }
    #store {
        padding-bottom: 13%;
    }
}