#events {
    background-color: white;
    width: 100dvw;

    padding-left: 10%;
    padding-right: 10%;
}

#daily {
    display: flex;
    flex-direction: column;
}

.day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 2%;
    padding-bottom: 10%;
}

#day1head{
    padding-top: 6%;
}

#day2 {
    justify-content: center;
    column-gap: 13%;
}

.event {
    width: 30%;
}

h2 {
    color: #28660D;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5em;
}

h5 {
    font-style:italic;
    font-size: 1.5em;
    font-weight: 300;
}

@media screen and (max-width: 600px) {
    #events {
        padding-left: 2%;
        padding-right: 2%;
    }
    .day {
        flex-direction: column;
    }
    .event {
        width: 100%;
        margin: auto;
        padding-bottom: 5%;
    }
    h3 {
        text-align: center;
    }
    h5 {
        text-align: center;
    }
}