#about {
    background-color: rgba(144, 154, 232, 0.702);
    width: 100dvw;
    height: 90vh;
    color: white;

    padding-left: 5%;
    padding-right: 5%;
}

#eventtitle {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10em;
    line-height: 80%;
    padding-bottom: 2%;
}

#eventsubhead {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 3em;
    line-height: 90%;
    padding-bottom: 2%;

}

#eventdetails {
    text-transform: uppercase;
    font-style:italic;
    font-size: 1.75em;
    padding-bottom: 2%;
}

#text {
    padding-bottom: 3%;
    /* width: 45%; */
}

#button {
    border: 3px solid white;
    padding: 0.75%;
    font-size: 1.75em;
    text-transform: capitalize;
    background-color: #182AB5;
    width: auto;
}

#button:hover{
    background-color: white;
    color: #182AB5;

}

@media screen and (max-width: 600px) {
    #about {
        background-color: rgba(144, 154, 232, 0.702);
        height: 55vh;
        padding-left: 2%;
        padding-right: 2%;
    }
    #button {
        border: 1px solid white;
    }

    #text {
        width: 100%;
    }
    #eventtitle {
        font-size: 6em;
    }
}